:host {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 100vh;
  margin-inline: auto;
  overflow: hidden;

  .app__main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

    .app__page-container {
      display: grid;
      flex-grow: 1; 
      min-height: 100%; 
    }
  }
}