<main>
  <section class="app-info__header">
    <h1>SMS Sender App</h1>
    <p>By Ofer Klein</p>
  </section>

  <section class="app-info__content">
    <p>
      This application demonstrates how modern technologies can work together to create a functional and scalable SMS sender service.
    </p>

    <div class="key-features">
      <h2>Technologies Used</h2>
      <div class="features-grid">
        <!-- Twilio -->
        <div class="feature-card">
          <h3>
            <a href="https://www.twilio.com/docs" target="_blank">Twilio</a> </h3>
          <p>Handles SMS sending functionality.</p>
        </div>

        <!-- PubNub -->
        <div class="feature-card">
          <h3>
            <a href="https://www.pubnub.com/docs" target="_blank">PubNub</a>
          </h3>
          <p>Provides real-time messaging updates.</p>
        </div>

        <!-- RDS -->
        <div class="feature-card">
          <h3>
            <a href="https://aws.amazon.com/rds/" target="_blank">Amazon RDS</a>
          </h3>
          <p>Relational Database Service for managing and storing data.</p>
        </div>

        <!-- Angular -->
        <div class="feature-card">
          <h3>
            <a href="https://angular.dev/" target="_blank">Angular</a></h3>
          <p>Frontend framework for creating a responsive user interface.</p>
        </div>
        
        <!-- Ruby on Rails -->
        <div class="feature-card">
          <h3>
            <a href="https://rubyonrails.org/" target="_blank">Ruby on Rails</a>
          </h3>
          <p>Backend framework managing the application's logic and API.</p>
        </div>
      </div>
    </div>
  </section>
</main>